@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.mainEffects {
    border: solid black 2px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sideEffects {
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    font-size: 45px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.fstart {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.fstart div {
    margin-left: 10px;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
}

.fend {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

.fend div {
    margin-right: 10px;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
}

.fcenter {
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.fcenter div {
    margin-right: 10px;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
}

.fbetween {
    height: 200px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.fbetween div {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
}

.faround {
    height: 200px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
}

.faround div {
    margin-right: 10px;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
}

.fevenly {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.fevenly div {
    margin-right: 10px;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
}

.header {
    height: 220px;
}

.header-inline {
    height: 145px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-inline-links {
    color: #14468a;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header-inline img {
    height: 100px;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 75px;
    background-color: #eeeeee;
    text-align: center;

}

.hmain-links {
    color: #14468a;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.footer-top {
    display: flex;
    background-color: #14468a;
    height: 250px;
    justify-content: center;
    color: white;
}

.footer-bottom {
    display: flex;
    height: 100px;
    background-color: #14468a;
    justify-content: center;
    align-items: center;
    color: white;
}

.fbottom-links {
    color: white;
    
}

.fdivs {
    height: 250px;
    width: 400px;
    margin-top: 15px;
    line-height: 160%;
}

.partners img {
    height: 65px;
    width: 160px;
    background-color: white;
}

.footer h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 14px;
}

.footer p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

@media only screen and (max-width: 1024px) {
    .mainEffects {
        border: solid black 2px;
        border-radius: 5px;
    }
    
    .sideEffects {
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
        font-size: 35px;
        background-color: blue;
        color: white;
        border-radius: 10px;
    }

    .fstart {
        height: 100px;
        display: flex;
        justify-content: flex-start;
        gap: 1px;
        align-items: center;
    }
    
    .fstart div {
        margin-left: 5px;
        text-align: center;   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
    }
    
    .fend {
        height: 100px;
        display: flex;
        justify-content: flex-end;
        gap: 1px;
        align-items: center;
    }
    
    .fend div {
        margin-right: 5px;
        text-align: center;   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
    }
    
    .fcenter {
        height: 100px;
        display: flex;
        justify-content: center;
        gap: 1px;
        align-items: center;
    }
    
    .fcenter div {
        margin-right: 5px;
        text-align: center;   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
    }
    
    .fbetween {
        height: 100px;
        display: flex;
        justify-content: space-between;
        gap: 1px;
        align-items: center;
    }
    
    .fbetween div {
        margin-right: 5px;
        margin-left: 5px;
        text-align: center;   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
    }
    
    .faround {
        height: 100px;
        display: flex;
        justify-content: space-around;
        gap: 1px;
        align-items: center;
    }
    
    .faround div {
        margin-right: 5px;
        text-align: center;   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
    }
    
    .fevenly {
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        gap: 1px;
        align-items: center;
    }
    
    .fevenly div {
        margin-right: 5px;
        text-align: center;   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
    }
}